@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");

::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

:root {
  --color-one: rgb(48, 0, 36);
  --color-two: rgb(36, 0, 134);
  --color-three: rgb(15, 80, 0);
}
/*--------Główne-------------------------------------------------------------------------------*/
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(
    to top right,
    var(--color-one),
    var(--color-two),
    var(--color-three)
  );
}
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.video-background video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  width: 100vw;
  height: 6vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  height: 89vh;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 89vh;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.container::-webkit-scrollbar {
  width: 0em;
}
.footer {
  width: 100vw;
  height: 5vh;
  background: rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
a {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 30px;
  color: white;
  margin: 0;
  padding: 0;
}
.meetit {
  font-size: 150px;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Caveat", cursive;
}
.meetit-nw {
  font-size: 35px;
  color: white;
  margin: 7px;
  padding: 0;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  font-family: "Caveat", cursive;
}
.link-st {
  text-decoration: none;
  color: white;
  background: none;
}
.link {
  text-decoration: none;
  color: white;
  background: none;
  position: relative;
  overflow: hidden;
  width: 125px;
}
.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.3s;
}
.link:hover::after {
  left: 0;
  width: 100%;
}
.out {
  text-decoration: none;
  color: black;
  background: none;
}
.wyloguj {
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  width: 100px;
  height: 35px;
}
.czasidata {
  padding: 0;
  margin: 10px 10px 0 0;
  color: white;
  height: 5vh;
  width: 8vh;
}
#data, #czas {
  float: right;
  margin: 0;
  padding: 0;
}
.mapa {
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 99%;
  margin-top: 5px;
}
.panel {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  width: 50vw;
  height: 89vh;
  border-left: 1px solid white;
}
.zapisywanie
{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-end;
}
.tworzenie {
  border: 1px solid black;
  width: 100%;
  height: 95%;
  margin: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}
.zapisz {
  background: white;
  color: black;
  border-radius: 15px;
  width: 100px;
  height: 50px;
  margin-right: 20px;
}
.strony {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
}
.strony:hover {
  background: rgba(128, 128, 128, 0.2);
}
.czasidata {
  float: right;
}
/*--------------team-----------------------------------------------------------------------------*/
.osoba {
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid white;
  width: 200px;
  height: 249px;
}
.zdjecie {
  width: 150px;
}
.imie-naz {
  border-top: 1px solid white;
  color: white;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 8px 8px;
  font-weight: 800;
}
.rola {
  border-bottom: 1px solid white;
  color: white;
  margin: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px 8px 0 0;
}
.Opiekun {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-team {
  margin-top: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/*--------------------------Footer----------------------------------------------------------------*/
.social {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.i-social {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 50px;
}
.img-social {
  margin: 10px;
  width: 20px;
}
.i-social:hover {
  background: rgba(128, 128, 128, 0.2);
}
.nasze-sociale {
  margin: 0 15px 0 15px;
  color: white;
}
/*-----------------------------------------------------------------------------------------------*/
.map {
  height: 100%;
  width: 100%;
}
.team {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.wyszukaj {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  margin: 10px 0 0 100px;
  position: absolute;
  background: white;
  width: 300px;
  height: 40px;
  z-index: 1;
}
.search {
  border: 0;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  height: 30px;
  width: 200px;
  margin-left: 10px;
}
.search:focus {
  outline: none;
  border: none;
}
.button-cta {
  height: 35px;
  width: 35px;
  color: white;
  font-size: 15px;
  background: none;
  border: none;
}
.button-cta:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.i-search {
  width: 20px;
  height: 20px;
}
#mapaa
{
  height: 100%;
  width: 100%;
}
.menu
{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-----------------------------------------------------------------------------------------------*/
.menu-nw
{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logout
{
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*----------------------------------------wyjazdy--------------------------------------------------*/
.twoje-wyjazdy
{
  height: 95%;
  width: 95%;
  border: 3px solid white;
  border-radius: 20px;
  margin: 20px;
}
.header-tw
{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px 20px 0px 0px;
  font-size: 50px;
  border-bottom: 2px solid white;
}
.kat
{
  color: white;
  display: flex;
  height: 100%;
  width: 99%;
  background: rgba(0, 0, 0, 0.3);
}
.pasek
{
  height: 5%;
  display: flex;
  border-bottom: 1px solid white;
}
.info
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 1px solid white;
}
.lupa
{
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid white;
}
.lupa:hover
{
  background: rgba(0, 0, 0, 0.5);
}
.lista-wyjazdow
{
  overflow-y: scroll; 
  height: 85%;
  border-radius: 0px 0px 20px 20px;
}
.lista-wyjazdow div:last-child {
  border-bottom: none;
}
.img-lupa
{
  margin: 0 15px 0px 15px;
  width: 30px;
}
.opis
{
  overflow: hidden;
  width: 62%;
}
.cel-wyjazdu
{
width: 7%;
}
.data-wyjazdu
{
  width: 11%;
}
.miejsce-wyjazdu
{
  width: 8%;
}
.koszty-wyjazdu
{
  width: 7%;
}
.ilosc-osob
{
  width: 5%;
}
.input-panel
{
  border: 1px solid white;
  border-radius: 5px;
  background: none;
  color: white;
  margin: 10px;
  font-size: 20px;
  height: 30px;
}
.input-p
{
  width: 250px;
}
.panel-opis
{
  width: 100%;
  height: 100%;
  resize: none;
}
.panel-wyjazdu
{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.textarea-container {
  position: relative;
  height: 200px;
  width: 300px;
}
#wordCount {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/*--------------------------------Kontakt--------------------------------------------------------*/
.kontakt
{
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 20px;
  background: white;
  height: 95%;
  width: 70%;
  margin-top: 20px;
}
.wyslij
{
  height: 30px;
  width: 90px;
  background: rgb(0, 0, 255);
  color: white;
  border-radius: 10px;
  margin: 0px 10px 0px 10px ;
}
.email
{
  margin: 20px;
}
.temat
{
  margin: 20px;
}
.tresc
{
  margin: 20px;
  width: 98%;
  height: 70%;
}
.tresc-wiadomosci
{
  width: 98%;
  height: 95%;
  resize: none;
}
.main-input:focus + label,
.main-input:not(:placeholder-shown) + label
{
    left: 180px;
    opacity: 0;
}
.main-input:hover, 
.bw:hover
{
    box-shadow: 0px 10px 15px 0 rgba(0,0,0,0.3);
}
.main-input:focus, 
.bw:focus
{
    outline: solid 1px rgba(68, 67, 67, 0.8);
}
.bw
{
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.box {
  width: 400px;
  height: 300px;
  margin-right: 100px;
  position: relative;
}
.box::after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  right: 40px;
  left: 40px;
  bottom: 33px;
  border:  4px solid white;
  border-bottom: 0;
}

.text {
  color: white; 
  position: absolute;
  text-align: center;
  bottom: 25px;
  left: 40px;
  right: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.text > div {
  width: 2000px;
  margin-left: -910px;
}

.innertext::before,
.innertext::after {
  content: '';
  display: inline-block;
  width: 600px;
  height: 4px;
  background: white;
  vertical-align: middle;
}

.innertext::before {
  margin-right: 16px;
}

.innertext::after {
  margin-left: 16px;
}
.box2
{
  margin-top: 20px;
  margin-left: 50px;
  
}



#map {
  height: 100%;
  width: 100%;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 115px;
  margin-top: 10px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  height: 25px;
  border-radius: 10px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}
#data-startu-wyjazdu,#czas-startu-wyjazdu,#data-konca-wyjazdu,#czas-konca-wyjazdu
{
  text-align: center;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px;
}
